<launch>
  <!-- Connect to rtk-router's RTCM TCP mirror and publish rtcm_msgs/Message on /rtcm. -->
  <arg name="tcp_host"   default="127.0.0.1"/>
  <arg name="tcp_port"   default="8531"/>
  <arg name="rtcm_topic" default="/rtcm"/>
  <arg name="frame_id"   default=""/>
  <arg name="frame_mode" default="true"/>
  <arg name="verify_crc" default="true"/>

  <node pkg="rtcm_tcp_bridge" type="rtcm_tcp_bridge.py" name="rtcm_tcp_bridge" output="screen">
    <param name="tcp_host"   value="$(arg tcp_host)"/>
    <param name="tcp_port"   value="$(arg tcp_port)"/>
    <param name="rtcm_topic" value="$(arg rtcm_topic)"/>
    <param name="frame_id"   value="$(arg frame_id)"/>
    <param name="frame_mode" value="$(arg frame_mode)"/>
    <param name="verify_crc" value="$(arg verify_crc)"/>
  </node>
</launch>
